@keyframes slideup {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(100%);
	}
}
@keyframes slidedown {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-100%);
	}
}
.ptx-lan-banner-section {
	z-index: 1;
	overflow: hidden;
	padding: 220px 0px 0px;
	&:before {
		left: 0;
		bottom: 0;
		content: '';
		width: 100%;
		height: 244px;
		position: absolute;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
	}
	.ptx-lan-banner-img1 {
		top: 140px;
		right: 100px;
	}
	.ptx-lan-banner-img2 {
		left: 40%;
		bottom: 17%;
	}
	.ptx-lan-banner-img3 {
		top: 58%;
		right: 0;
	}
}
.ptx-hero-bg {
	&-wrapper {
		position: absolute;
		left: 0;
		top: -100px;
		z-index: -1;
		width: 100%;
		height: 100%;
		transform: rotate(-14.37deg);
	}
	&-content {
		height: 100%;
	}
	&-item {
		width: 100%;
		&-wrap {
			display: flex;
			justify-content: space-between;
			gap: 15px;
			width: 300px;
			height: 100%;
		}
		display: flex;
		flex-direction: column;
		gap: 15px;
		.img-wrap {
			width: 296px;
			overflow: hidden;
			height: 274px;
			flex: 0 0 auto;
			img {
				width: 100%;
			}
		}



	}
}
.ptx-hero-bg-item.item-1  {
	animation: slideup 20s linear infinite;
	justify-content: flex-end;
} 
.ptx-hero-bg-item.item-2  {
	animation: slidedown 20s linear infinite;
	justify-content: flex-start;

} 
.ptx-lan-banner-text {
	margin: 0 auto;
	max-width: 730px;
	padding-bottom: 45px;
	.banner-logo {
		margin-bottom: 30px;
	}
	h1 {
		color: #00071A;
		font-size: 70px;
		font-weight: 800;
		padding-bottom: 30px;
	}
	.ptx-lan-btn-grp {
		gap: 35px;
		a {
			z-index: 1;
			font-size: 20px;
			font-weight: 600;
			overflow: hidden;
			padding: 24px 45px; 
			border-radius: 5px;
			position: relative;
			display: inline-block;
			@extend%gradient-text;
			border: 2px solid var(--ptx-gradient-1);
			&:before {
				top: 0;
				right: 0;
				width: 0%;
				left: auto;
				z-index: -1;
				height: 100%;
				content: '';
				position: absolute;
				transition: all 500ms ease;
				background: var(--ptx-gradient-1);
			}
			&:first-child {
				color: #fff;
				
			}
			&.active {
				background: #fff;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: #ffffff;
				border: 2px solid transparent;
				&:before {
					left: 0;
					right: auto;
					width: 100%;
				}
			}
		}
	}
}
.ptx-lan-banner-mockup {
	z-index: 2;
	position: relative;
}
.ptx-lan-banner-scroller {
	overflow: hidden;
	display: flow-root;
	h3 {
		opacity: 0.3;
		color: #A249ED;
		line-height: 1;
		font-size: 160px;
		padding: 0px 10px;
		font-weight: 800;
		display: inline-block;
		font-family: var(--ptx-body-font-2);
		-webkit-text-fill-color: transparent; 
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: var(--ptx-gradient-1); 
	}
}