@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}
body {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 18px;
	line-height: 1.667;
	position: relative;
	overflow-x: hidden;
	color: var(--ptx-body-color);
	font-family: var(--ptx-body-font);
	background-color: #fff;     
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; 
	.container {
		max-width: 1310px;
	}
	.ptx_text {
		overflow: hidden; 
	}
	.tx-split-text {
		overflow: hidden;
	}
}
.home-4 {
	.container {
		max-width: 1320px;
		color: var(--ptx-body-color-2);
		font-family: var(--ptx-body-font-2);
	}
}
body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	outline: none;
	border-radius: 30px;
	background: var(--ptx-gradient-1);
}
#ScrollSmoother-wrapper {
	z-index: -1;
}
.ul-li ul {
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
	}
}
.ul-li-block ul {
	margin:0;
	padding: 0;
	li{
		display: block;
		list-style: none;
	}
}
.headline h1,
.headline h2,
.headline h3,
.headline h4,
.headline h5,
.headline h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.25;
	font-family: var(--ptx-heading);
}
.headline-2 h1,
.headline-2 h2,
.headline-2 h3,
.headline-2 h4,
.headline-2 h5,
.headline-2 h6 {
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.25;
	font-family: var(--ptx-heading-2);
}
#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 99999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background: #fff url('../img/loader.svg') no-repeat center center;

	.loading {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.icon-ani {
		display: flex;
		justify-content: center;
		margin-top: 30px;
	}
}
.spinner {
	width: 56px;
	height: 56px;
	display: grid;
	color: #ff5317;
	background: radial-gradient(farthest-side, currentColor calc(100% - 6.7px),#0000 calc(100% - 5.6px) 0);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.6px),#000 calc(100% - 13.4px));
	border-radius: 50%;
	animation: spinner-sm4bhi 2s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
	content: "";
	grid-area: 1/1;
	background: linear-gradient(currentColor 0 0) center,
		   linear-gradient(currentColor 0 0) center;
	background-size: 100% 11.2px,11.2px 100%;
	background-repeat: no-repeat;
 }
 
 .spinner::after {
	transform: rotate(45deg);
 }
 
 @keyframes spinner-sm4bhi {
	100% {
	   transform: rotate(1turn);
	}
 }
.scrollup {
	width: 55px;
	right: 20px;
	z-index: 5;
	height: 55px;
	bottom: 20px;
	display: none;
	position: fixed;
	border-radius: 100%;
	line-height: 55px;
	background: var(--ptx-gradient-1);
	i {
		color: #fff;
	}
}
[data-background] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
a {
	color: inherit;
	text-decoration:none;
	transition: 500ms all ease;
	&:hover, &:focus{
		text-decoration: none;
	}
}
img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
.form-control {
	box-shadow: none;
}
.relative-position {
	position: relative;
}
.background_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pera-content {
	p {
		margin-bottom: 0;
	}
} 
.cursor {
	border-radius: 50%;
	display: block;
	position: fixed;
	margin-top: -10px;
	margin-left: -10px;
	width: 30px;
	height: 30px;
	pointer-events: none;
	mix-blend-mode: multiply;
	-webkit-transform: scale(1);
	transform: scale(1);
	background-color: rgba(122, 122, 122, 0.3);
	-webkit-transition: -webkit-transform 0.35s ease-out;
	transition: -webkit-transform 0.35s ease-out;
	transition: transform 0.35s ease-out;
	transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
	z-index: 1011;
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes icon-bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@keyframes icon-bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
@-webkit-keyframes border_animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale(1.05);
		transform: scale(1.24);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.7);
		transform: scale(1.7);
		opacity: 0;
	}
}
@keyframes border_animation {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
	20% {
		-webkit-transform: scale(1.05);
		transform: scale(1.24);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.7);
		transform: scale(1.7);
		opacity: 0;
	}
}
@-webkit-keyframes hover_appear {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes hover_appear {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
.ptx-img-animation {
	transition: 1.3s cubic-bezier(0.5, 0.5, 0, 1);
	clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
	&.active {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
	}
}
.ptx-section-title,
.ptx-section-title-2,
.ptx-section-title-3,
.ptx-section-title-4 {
	.ptx-subtitle {
		font-size: 12px;
		font-weight: 600;
		padding: 9px 25px;
		border-radius: 30px;
		margin-bottom: 15px;
		display: inline-block;
		background: linear-gradient(90deg, rgba(254, 110, 0, 0.05) 35.63%, rgba(255, 181, 2, 0.05) 79.89%, rgba(254, 110, 0, 0.05) 100%);
		span {
			@extend%gradient-text;
		}
	}
	.ptx-sec-title {
		font-size: 52px;
		font-weight: 700;
		color: var(--ptx-title-color);
	}
	p {
		padding-top: 12px;
	}
}
.ptx-section-title-2 {
	.ptx-subtitle {
		background: #ebf5ff;
		span {
			@extend%gradient-text_two;
		}
	}
}
.ptx-section-title-3 {
	.ptx-sec-title {
		font-size: 55px;
		font-weight: 800;
	}
	.ptx-subtitle {
		padding: 0;
		margin-bottom: 5px;
		background: transparent;
		span {
			line-height: 1;
			font-size: 27px;
			font-family: var(--ptx-cursive-font);
			@extend%gradient-text;
		}
	}
}
.ptx-section-title-4 {
	.ptx-subtitle {
		padding: 0; 
		padding-left: 65px;
		position: relative;
		background: transparent;
		span {
			padding: 0;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 4.8px;
			font-family: var(--ptx-heading-2);
		}
		&:before,
		&:after {
			top: 10px;
			width: 52px;
			height: 2px;
			content: '';
			position: absolute;
			background: var(--ptx-gradient-3);
		}
		&:before {
			left: 0px;
		}
		&:after {
			right: -64px;
			display: none;
		}
	}
	&.text-center {
		margin: 0 auto;
		max-width: 740px;
		p {
			margin: 0 auto;
			max-width: 650px;
		}
		.ptx-subtitle {
			padding: 0;
			&:before {
				left: -64px;
			}
			&:after {
				display: block;
			}
		}
	}
	&.ver_2 {
		.ptx-subtitle { 
			span {
				@extend%gradient-text_four;
			}
			&:before,
			&:after {
				background: var(--ptx-gradient-4);
			}
		}
	}
	&.ver_3 {
		.ptx-subtitle { 
			padding-left: 0;
			span {
				@extend%gradient-text_five;
			}
			&:before,
			&:after {
				display: none;
			}
		}
	}
}
.ptx-btn-1,
.ptx-btn-2,
.ptx-btn-3 {
	a {
		color: #fff;
		font-size: 15px;
		font-weight: 800;
		border-radius: 8px;
		padding: 18px 25px;
		display: inline-block;
		white-space: nowrap;
		background: var(--ptx-gradient-1);
		@extend%btn_hover;
		i {
			margin-left: 8px;
			display: inline-block;
			transform: rotate(-45deg);
			transition: all 500ms ease;
		}
		&:hover {
			.btn-text .letter {
				transform: translateY(-100%);
			}
			i {
				transform: rotate(0);
			}
		}
	}
}
.btn-text {
	display: inline-block;
	overflow: hidden;
	line-height: 14px;
	height: 14px;
	width: max-content;
}
.btn-text .letter {
	display: inline-block;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	transition: -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	-o-transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), -webkit-transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
.ptx-btn-2 {
	a {
		border-radius: 40px;
		padding: 18px 25px 15px;
		background: var(--ptx-gradient-2);
		i {
			transform: rotate(0);
		}
		.btn-text {
			line-height: 18px;
			height: 18px;
		}
	}
}
.ptx-btn-3 {
	a {
		border-radius: 40px;
		i {
			transform: rotate(0);
		}
	}
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.ptx-tab-btn {
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link {
		border: none;
		padding-top: 0;
		padding-right: 0;
		border-radius: 0;
		margin-bottom: 0;
		cursor: pointer;
		background-color: transparent;
	}
	.nav-tabs {
		border: none;
	}
}
.ptx-arrow-next-prev {
	.ptx-slider-arrow {
		color: #fff;
		width: 60px;
		height: 60px;
		z-index: 1;
		overflow: hidden;
		border-radius: 100%;
		background-color: #000000;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			z-index: -1;
			height: 100%;
			content: '';
			transform: scale(0);
			position: absolute;
			border-radius: 100%;
			transition: all 500ms ease;
			background: var(--ptx-gradient-2);
		}
		&:hover {
			&:before {
				transform: scale(1);
			}
		}
	}
}
.ptx-btn-4,
.ptx-btn-5,
.ptx-btn-6 {
	a {
		color: #fff;
		font-weight: 600;
		line-height: 1.5;
		border-radius: 5px;
		position: relative;
		display: inline-block;
		white-space: nowrap;
		padding: 20px 30px 17px;
		font-family: var(--ptx-heading-2);
		background: var(--ptx-gradient-3);
		.btn-text {
			height: 16px;
			line-height: 24px;
		}
		i {
			margin-left: 8px;
			display: inline-block;
			transform: rotate(-45deg);
			transition: all 500ms ease;
		}
		&:before,
		&:after {
			left: 0;
			top: 50%;
			width: 5px;
			height: 80%;
			content: '';
			position: absolute;
			background-color: #fff;
			transform: translateY(-50%);
			border-radius: 0px 13px 21px 0px;
			transition: all 500ms ease;
		}
		&:after {
			right: 0;
			left: auto;
			border-radius: 16px 0px 0px 13px;
		}
		&:hover {
			i {
				transform: rotate(0);
			}
			&:before,
			&:after {
				width: 10px;
			}

			.btn-text .letter {
				transform: translateY(-100%);
			}
		}
	}
}
.ptx-btn-5 {
	a {
		padding: 16px 35px;
		border-radius: 40px;
		background: var(--ptx-gradient-4);
		&:before,
		&:after {
			display: none;
		}
	}
}
.ptx-btn-6 { 
	a {
		border-radius: 50px;
		background: var(--ptx-gradient-5);
		i {
			margin-left: 22px;
			position: relative;
			transform: rotate(0);
			&:after {
				top: 1px;
				left: -13px;
				width: 1px;
				content: '';
				height: 16px;
				position: absolute;
				background-color: #fff;
			}
		}
		&:before,
		&:after {
			display: none;
		}
	}
}
.inner-section-padding {
	padding: 120px 0px;
}
@media screen and (max-width: 570px) {  
	.ptx-section-title-2 .ptx-sec-title {
		font-size: 30px;	
	}
	.ptx-section-title-3 {
		.ptx-sec-title {
			font-size: 30px;
		}
	}
	.inner-section-padding {
		padding: 70px 0px;
	}
}
.split-line {
	overflow: hidden;
}
.split-parent {
	overflow: hidden;
}
.cb-cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	contain: layout style size;
	pointer-events: none;
	will-change: transform;
	-webkit-transition: opacity 0.3s, color 0.4s;
	-o-transition: opacity 0.3s, color 0.4s;
	-moz-transition: opacity 0.3s, color 0.4s;
	transition: opacity 0.3s, color 0.4s;
}
.cb-cursor:before {
	content: "";
	position: absolute;
	top: -24px;
	left: -24px;
	display: block;
	width: 48px;
	height: 48px;
	opacity: 	0;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	background: var(--ptx-gradient-1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
	transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
	-o-transition: opacity 0.1s, -o-transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out, opacity 0.1s, -moz-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, opacity 0.1s;
	transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}
.cb-cursor-text {
	position: absolute;
	top: -18px;
	left: -18px;
	width: 36px;
	height: 36px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: scale(0) rotate(10deg);
	-moz-transform: scale(0) rotate(10deg);
	-ms-transform: scale(0) rotate(10deg);
	-o-transform: scale(0) rotate(10deg);
	transform: scale(0) rotate(10deg);
	opacity: 0;
	font-weight: 700;
	color: white;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	font-family: var(--ptx-heading-1);
	letter-spacing: -0.01em;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
	transition: opacity 0.4s, -webkit-transform 0.3s;
	-o-transition: opacity 0.4s, -o-transform 0.3s;
	-moz-transition: opacity 0.4s, transform 0.3s, -moz-transform 0.3s;
	transition: opacity 0.4s, transform 0.3s;
	transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
}
@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion,
	.cb-cursor.-opaque {
		mix-blend-mode: exclusion;
	}
}
@supports (mix-blend-mode: exclusion) {
	.cb-cursor.-exclusion:before,
	.cb-cursor.-opaque:before {
		background: white;
	}
}
.cb-cursor.-normal,
.cb-cursor.-text {
	mix-blend-mode: normal;
}
.cb-cursor.-normal:before,
.cb-cursor.-text:before {
	background: var(--ptx-gradient-1);;
}
.cb-cursor.-inverse {
	color: white;
}
.cb-cursor.-visible:before {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.cb-cursor.-visible.-active:before {
	-webkit-transform: scale(0.23);
	-moz-transform: scale(0.23);
	-ms-transform: scale(0.23);
	-o-transform: scale(0.23);
	transform: scale(0.23);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.cb-cursor.-pointer:before {
	-webkit-transform: scale(0.15);
	-moz-transform: scale(0.15);
	-ms-transform: scale(0.15);
	-o-transform: scale(0.15);
	transform: scale(0.15);
}
.cb-cursor.-text:before {
	opacity: 0.85;
	-webkit-transform: scale(1.7);
	-moz-transform: scale(1.7);
	-ms-transform: scale(1.7);
	-o-transform: scale(1.7);
	transform: scale(1.7);
}
.cb-cursor.-text .cb-cursor-text {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.cb-cursor.-text.-active:before {
	-webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.cb-cursor.-opaque:before {
	-webkit-transform: scale(1.32);
	-moz-transform: scale(1.32);
	-ms-transform: scale(1.32);
	-o-transform: scale(1.32);
	transform: scale(1.32);
}
.cb-cursor.-opaque.-active:before {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.cb-cursor.-lg:before {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
}
.cb-cursor.-hidden:before {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}
.pt-120 {
	padding-top: 120px;
}
.ptx-pagination {
	margin-top: 30px;
	li {
		margin: 0px 3px;
		a {
			width: 54px;
			height: 54px;
			display: flex;
			font-weight: 500;
			align-items: center;
			border-radius: 10px;
			position: relative;
			justify-content: center;
			border: 1px solid rgba(21, 24, 24, 0.10);
			&:before {
				bottom: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 0%;
				content: '';
				border-radius: 10px;
				position: absolute;
				background: var(--ptx-gradient-1);
				transition: all 500ms ease;
			}
			&:hover,
			&.active {
				color: #fff;
				&:before {
					height: 100%;
				}
			}
		}
	}
}
@media screen and (max-width: 1150px) { 
	.ptx-section-title-2 .ptx-sec-title,
	.ptx-section-title-3 .ptx-sec-title,
	.ptx-section-title-4 .ptx-sec-title {
		font-size: 40px;
	}
}
@media screen and (max-width: 991px) { 
	.ptx-section-title-2 .ptx-sec-title,
	.ptx-section-title-3 .ptx-sec-title,
	.ptx-section-title-4 .ptx-sec-title {
		font-size: 38px;
	}
}
@media screen and (max-width: 680px) { 
	.ptx-section-title-2 .ptx-sec-title,
	.ptx-section-title-3 .ptx-sec-title,
	.ptx-section-title-4 .ptx-sec-title {
		font-size: 34px;
	}
	.ptx-section-title-4 .ptx-subtitle:before,
	.ptx-section-title-4 .ptx-subtitle:after {
		display: none !important;
	}
	.ptx-section-title-4 .ptx-subtitle {
		padding-left: 0;
	}
}
@media screen and (max-width: 480px) { 
	.ptx-section-title-2 .ptx-sec-title,
	.ptx-section-title-3 .ptx-sec-title,
	.ptx-section-title-4 .ptx-sec-title {
		font-size: 30px;
	}
	.ptx-btn-1 a,
	.ptx-btn-2 a,
	.ptx-btn-3 a {
		font-size: 14px;
		padding: 14px 20px;
	}
	.ptx-btn-4 a,
	.ptx-btn-5 a,
	.ptx-btn-6 a {
		padding: 14px 20px;
	}
}